@import "variables";
@import "navbar";
@import "cards";
@import "fonts";

.taskCount {
    font-family: 'Roboto-Itali', sans-serif;
    font-size: 24px;
    color: $gray-placeholder;
    font-style: italic;
}