.ts-navbar {
  height: 76px;
  background-color: #4A90E2; }

.ts-navbar-item {
  padding-top: 23px;
  position: relative; }
  .ts-navbar-item > .title {
    font-family: 'Roboto Medium', sans-serif;
    height: 28px;
    text-align: center;
    font-size: 24px;
    color: #00408B; }
  .ts-navbar-item:hover {
    cursor: pointer; }
  .ts-navbar-item.active > .title {
    color: #ffffff; }
  .ts-navbar-item.active:after {
    content: '';
    height: 5px;
    background-color: #00408B;
    width: 160px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; }

.ts-taskList {
  min-height: calc(100vh - 76px);
  background-color: #E1E1E1;
  padding-top: 24px; }

.ts-addInput {
  height: 76px;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  background-color: #ffffff; }
  .ts-addInput .ts-content {
    margin-left: 33px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
    color: #C8C8C8; }

.ts-card {
  background-color: #F2F2F2;
  border-radius: 5px 5px 0 0;
  margin-bottom: 8px; }
  .ts-card .handle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #757575;
    cursor: move;
    opacity: 0; }
  .ts-card:hover .handle {
    opacity: 1; }
  .ts-card .ts-card-header.important {
    background-color: #FFF2DC; }
  .ts-card .ts-description {
    margin-left: 0;
    margin-right: 0;
    position: relative; }
  .ts-card .ts-descriptionTitle {
    display: flex;
    align-items: center;
    height: 76px; }
  .ts-card .ts-descrption-input {
    margin-right: 32px;
    background-color: transparent;
    border: 0;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 24px;
    color: #000000; }
    .ts-card .ts-descrption-input.ts-task-complete {
      text-decoration: line-through;
      color: #9B9B9B; }
  .ts-card .ts-edit {
    border-top: 2px solid #C8C8C8; }
  .ts-card .ts-ckbox {
    margin-left: 32px; }
    .ts-card .ts-ckbox > .custom-control-label::before {
      background: #ffffff;
      height: 24px;
      width: 24px;
      border-radius: 2px;
      top: 0; }
    .ts-card .ts-ckbox > .custom-control-label::after {
      height: 24px;
      width: 24px;
      border-radius: 2px;
      top: 0; }

.ts-icon {
  padding-right: 32px; }

.ts-icon-star,
.ts-icon-pencil {
  color: #000000;
  font-size: 24px; }

.ts-icon-star.active {
  color: #F5A623; }

.ts-icon-pencil.active {
  color: #4A90E2; }

.ts-edit-section {
  margin-top: 24px; }

.ts-edit-title {
  margin-left: 72px; }

.ts-edit-icon {
  font-size: 17px; }

.ts-edit-description {
  font-family: 'Roboto Medium', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  margin-left: 4px; }

.ts-deadline-input {
  width: 162px;
  height: 35px;
  font-family: 'Roboto Regular', sans-serif;
  border-radius: 2px;
  margin-right: 8px;
  color: #000000; }
  .ts-deadline-input::placeholder {
    color: #C8C8C8; }

.ts-edit-editor {
  margin-top: 8px;
  margin-left: 96px; }

.ts-upload-info {
  margin-right: 23px; }
  .ts-upload-info span {
    font-size: 16px;
    display: block;
    font-family: 'Roboto Regular', sans-serif; }
  .ts-upload-info .ts-upload-name {
    color: #000000; }
  .ts-upload-info .ts-upload-time {
    color: #757575; }

.ts-upload-icon {
  font-size: 32px;
  color: #C8C8C8; }
  .ts-upload-icon:hover {
    color: #4A90E2; }

.ts-comment-textarea {
  margin-right: 78px;
  height: 120px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px; }
  .ts-comment-textarea::placeholder {
    color: #C8C8C8; }

.ts-action-section {
  margin-top: 24px;
  height: 60px; }

.ts-action-btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ts-action-btn.lft {
    background-color: #ffffff;
    color: #D0021B; }
    .ts-action-btn.lft:hover {
      background-color: #FDFDFD; }
  .ts-action-btn.rgt {
    background-color: #4A90E2;
    color: #ffffff; }
    .ts-action-btn.rgt:hover {
      background-color: #3982D7; }
  .ts-action-btn .ts-action-content {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px; }
  .ts-action-btn .ts-action-icon {
    font-size: 20px; }

.ts-icon-star:hover,
.ts-icon-pencil:hover,
.ts-action-btn:hover,
.ts-addInput:hover,
.ts-upload-icon:hover {
  cursor: pointer; }

.ts-simpleContent {
  margin: 0 0 17px 72px; }
  .ts-simpleContent .ts-simpleContent-icon {
    font-size: 18px; }
  .ts-simpleContent .ts-simpleContent-deadlineDate {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px; }
  .ts-simpleContent .ts-simpleContent-body {
    margin-right: 16px;
    color: #757575; }
  .ts-simpleContent .ts-simpleContent-calendar {
    margin-right: 8px; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.taskCount {
  font-family: 'Roboto-Itali', sans-serif;
  font-size: 24px;
  color: #C8C8C8;
  font-style: italic; }
